/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ===== Format ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #fff;
  position: relative;
}

* {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: #0a0a10;
  font-size: 5rem;
  font-weight: bold;
}

.no-found {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Hero ===== */
.hero {
  width: 100%;
  height: 18rem;
  background-image: url(/img/bg1.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.select-menu {
  background: #0a0a10;
  width: 10rem;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select i {
  font-size: 1.2rem;
  font-weight: bold;
}

.options {
  font-size: 1rem;
  position: absolute;
  top: 105%;
  left: 0;
  background: #0a0a10;
  width: 100%;
  height: 11rem;
  z-index: 100;
  border-radius: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.options li {
  padding: 0.6rem 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.options li:hover {
  background-color: #444;
  color: #fff;
}

.selected {
  background-color: #fff;
  color: #0a0a10;
}

.options::-webkit-scrollbar {
  width: 20px;
  background: #0a0a10;
  border-radius: 2rem;
}

.options::-webkit-scrollbar-thumb {
  border: 7px solid #0a0a10;
  background: #fff;
  border-radius: 1rem;
}

.show {
  opacity: 1;
  pointer-events: initial;
}

input {
  max-width: 16rem;
  padding: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 2rem;
  background: #0a0a10;
  color: #fff;
}

input::placeholder {
  color: #ddd;
}

/* ===== Gallery ===== */
main {
  margin: 5rem 0;
  margin-inline: auto;
  width: 60%;
}

main picture {
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: 0.5s;
}

main picture img {
  width: 100%;
  display: block;
  transition: 0.5s;
}

main picture:hover img {
  transform: scale(1.1);
}

main picture:hover .overlay {
  opacity: 1;
  pointer-events: initial;
  bottom: 0;
}

main picture .overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: -10px;
  width: 100%;
  padding: 0.7rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #0000, #000c);
  transition: 0.5s;
}

.creator {
  font-size: 1.2rem;
}

.overlay .ri-camera-fill {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.overlay .ri-download-line {
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-weight: bold;
  background-color: #fff;
  color: #0a0a10;
}

/* ===== Modal ===== */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 90%;
  padding: 1rem;
}

.modal .bottom-content,
.modal .top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal .top-content {
  justify-content: flex-end;
  margin: 0 0 1rem;
}

.modal .creator {
  color: #0a0a10;
}
.ri-camera-fill {
  font-size: 1.3rem;
}

.modal .ri-download-line,
.modal .ri-close-line {
  width: 2rem;
  height: 2rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  background-color: #555;
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
}
.modal .ri-download-line:hover,
.modal .ri-close-line:hover {
  background-color: #222;
}

.modal .img {
  display: flex;
  justify-content: center;
}

.modal picture {
  max-height: 75vh;
  max-width: 90vw;
}

.modal picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.open {
  display: flex;
}

/* ===== MediaQueries ===== */
@media (min-width: 560px) {
  main {
    column-gap: 2rem;
    width: 70%;
  }
  input {
    max-width: 24rem;
  }
}

@media (min-width: 640px) {
  main {
    width: 90%;
    column-count: 3;
  }
}
@media (min-width: 920px) {
  main {
    column-count: 4;
    width: 90%;
  }
}
